@import './typeography';
@import './vuetify';

/*RESPONSIVE SCREEN SIZES */
$extra_small: 600px; // < 600px
$small: 960px; // 600px > < 960px
$medium: 1264px; // 960px > < 1264px
$large: 1904px; // 1264px > < 1904px
$extra_large: 1904px; // > 1904px

/* ELEMENTS */
$html: 62.5%; // (1.8rem = 18px)