/* FULLS */
/* PARTIALS */
@import "partials/mixins";
@import "partials/display";
@import "partials/typeography";

/* ROOT STYLES */
html {
	font-size: 62.5%;
}
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,
p {
	font-size: $font_size_mobile_body;
	font-weight: $font_weight_p;
	line-height: $font_line_height_mobile_body;
	color: rgb(var(--v-theme-default));
}
span,
a {
	font-size: $font_size_mobile_span;
	line-height: $font_line_height_mobile_span;
	color: rgb(var(--v-theme-default));
}
h1 {
	font-size: $font_size_mobile_h1;
	line-height: $font_line_height_mobile_h1;
	padding: $font_size_mobile_h1;
	text-align: center;
	color: rgb(var(--v-theme-default));
	text-transform: $font_transform_h1;
	font-weight: $font_weight_h1;
}
h2 {
	font-size: $font_size_mobile_h2;
	line-height: $font_line_height_mobile_h2;
	padding: $font_size_mobile_h2;
	text-align: center;
	color: rgb(var(--v-theme-default));
	text-transform: $font_transform_h2;
	font-weight: $font_weight_h2;
	font-variant: $font_variant_h2;
}
h3 {
	font-size: $font_size_mobile_h3;
	line-height: $font_line_height_mobile_h3;
	padding: $font_size_mobile_h3;
	text-align: center;
	color: rgb(var(--v-theme-default));
	text-transform: $font_transform_h3;
	font-weight: $font_weight_h3;
	font-style: $font_style_h3;
}
h4 {
	font-size: $font_size_mobile_h4;
	line-height: $font_line_height_mobile_h4;
	padding: $font_size_mobile_h4;
	text-align: center;
	color: rgb(var(--v-theme-default));
	font-style: $font_style_h4;
}
h5 {
	font-size: $font_size_mobile_h5;
	line-height: $font_line_height_mobile_h5;
	padding: $font_size_mobile_h5;
	text-align: center;
	color: rgb(var(--v-theme-default));
}
h6 {
	font-size: $font_size_mobile_h6;
	line-height: $font_line_height_mobile_h6;
	padding: $font_size_mobile_h6;
	text-align: center;
	color: rgb(var(--v-theme-default));
}
.clickable {
	cursor: pointer;
}
::-webkit-scrollbar {
	width: 0.75em;
	height: 0.75em;
}
::-webkit-scrollbar-track {
	background: rgb(var(--v-theme-default));
	border-radius: 100vw;
}
::-webkit-scrollbar-thumb {
	background: rgba(var(--v-theme-accent), 1);
	border-radius: 100vw;
	border: 0.1em solid rgb(var(--v-theme-default));

	&:hover {
		background: rgba(var(--v-theme-accent), 0.8);
	}
}
@supports (scrollbar-color: rgb(var(--v-theme-accent)) rgb(var(--v-theme-default))) {
	* {
		scrollbar-color: rgb(var(--v-theme-accent)) rgb(var(--v-theme-default));
	}
}

/* V-LAYOUT */
.v-layout {
	border: 2px solid orange;
	display: flex;
	flex-direction: column;
}

/* V-MAIN */
.v-main {
	border: 2px solid red;
	display: flex;
	flex-direction: column;
}

/* V-LIST */
.v-list {
	//border: 2px solid red;
	cursor: pointer;
	//color: rgb(var(--v-theme-default));

	.v-list-item {
		//border: 2px solid orange;
		cursor: pointer;
		//color: rgb(var(--v-theme-default));
		//background-color: transparent;

		&:hover {
			//color: rgb(var(--v-theme-inverted));
			//background-color: rgb(var(--v-theme-accent));
		}

		.v-list-item__overlay {
			//border: 2px solid black;
			cursor: pointer;
		}

		.v-list-item__underlay {
			//border: 2px solid red;
			cursor: pointer;
		}

		.v-list-item__prepend {
			//border: 2px solid purple;

			.v-icon {
			}
		}

		.v-list-item__content {
			//border: 2px solid blue;

			.v-list-item-title {
				//border: 2px solid red;
				font-size: $font_size_mobile_body;
				line-height: $font_line_height_mobile_body;
				text-transform: capitalize;
			}
		}
	}

	.v-list-item--active {
		//color: rgb(var(--v-theme-accent));
		//background-color: transparent;
	}
}

/* V-TOOLTIP */
.v-tooltip {
	.v-overlay__content {
		font-size: $font_size_mobile_body !important;
	}
}

/* V-INPUT */
.v-input {
	//border: 2px solid red;

	.v-input__control {
		//border: 2px solid yellow;

		.v-field {
			//border: 2px solid green;

			.v-field__overlay {
				//border: 2px solid orange;
			}

			.v-field__loader {
				//border: 2px solid black;

				.v-progress-linear {
					//border: 2px solid purple;

					.v-progress-linear__background {
						//border: 2px solid red;
					}

					.v-progress-linear__indeterminate {
						//border: 2px solid yellow;

						.short {
							//border: 2px solid yellow;
						}

						.long {
							//border: 2px solid yellow;
						}
					}
				}
			}

			.v-field__prepend-inner {
				//border: 2px solid red;

				.v-icon {
					//border: 2px solid black;
				}
			}

			.v-field__field {
				//border: 2px solid red;
				cursor: pointer;

				input {
					//border: 2px solid black;
					cursor: text;
				}

				.v-label {
					//border: 2px solid orange;
					cursor: pointer;
					font-size: $font_size_mobile_body;
					line-height: $font_line_height_mobile_body;
					color: rgb(var(--v-theme-default));
					opacity: 1 !important;
				}

				.v-field__input {
					//border: 2px solid yellow;

					.v-select__selection {
						//border: 2px solid black;
						cursor: pointer;
						//color: rgb(var(--v-theme-accent));

						span {
							//border: 2px solid orange;
							cursor: pointer;
						}
					}
				}
			}

			.v-field__clearable {
				//border: 2px solid red;
			}

			.v-field__append-inner {
				//border: 2px solid black;
				cursor: pointer;

				i {
					//border: 2px solid blue;
					cursor: pointer;
				}
			}

			.v-field__outline {
				//border: 2px solid red;

				.v-field-label {
					//border: 2px solid blue;
					//color: rgb(var(--v-theme-default));
				}
			}
		}

		.v-field--active {
		}
	}

	.v-input__details {
		//border: 2px solid yellow;

		.v-messages {
			//border: 2px solid red;

			.v-messages__message {
				//border: 2px solid blue;
				//line-height: typeography.$font_size_pc_body * 1.5;
			}
		}
	}
}

/* V-BTN */
.v-btn {
	//border: 2px solid red;
	text-transform: uppercase;
	//color: rgb(var(--v-theme-default));

	&:hover {
		//border: 2px solid blue;
		//background-color: rgb(var(--v-theme-accent));
		//color: rgb(var(--v-theme-inverted));

		.v-btn__content {
			//border: 2px solid grey;

			.v-icon {
				//border: 2px solid black;
				//fill: rgb(var(--v-theme-inverted));
			}
		}

		.v-btn--variant-outlined {
			//border: 2px solid purple;
			//border: thin solid rgb(var(--v-theme-inverted));
		}
	}

	span {
		//border: 2px solid yellow;
		cursor: pointer;
	}

	.v-icon {
		//border: 2px solid blue;
		cursor: pointer;
	}

	.v-btn__overlay {
		//border: 2px solid red;
	}

	.v-btn__underlay {
		//border: 2px solid red;
	}

	.v-btn__content {
		//border: 2px solid blue;
		cursor: pointer;

		.v-icon {
			//border: 2px solid orange;
			cursor: pointer;
			//fill: rgb(var(--v-theme-default));

			svg {
				//border: 2px solid purple;
				cursor: pointer;

				path {
					//border: 2px solid limegreen;
					cursor: pointer;
				}
			}
		}
	}
}
.v-btn--variant-outlined {
	//border: thin solid rgb(var(--v-theme-default));
}

/* V-ICONS */
.v-icon {
	//border: 2px solid yellow;
	//font-size: typeography.$font_size_pc_body;
}

/* V-WINDOW */
.v-window {
	.v-window__container {
		.v-window__controls {
			.v-btn {
				//background-color: rgb(var(--v-theme-inverted));
				//color: rgb(var(--v-theme-default));

				&:hover {
					//background-color: rgb(var(--v-theme-accent));
					//color: rgb(var(--v-theme-inverted));
				}
			}
		}
	}

	.v-carousel__controls {
		.v-btn {
			//background-color: transparent;

			&:hover {
				//background-color: rgb(var(--v-theme-accent));
			}
		}

		.v-btn--active {
			.v-icon {
				//background-color: transparent;
				//color: rgb(var(--v-theme-accent));
			}
		}
	}
}

/* V-CARD */
.v-card {
	.v-card__loader {
	}

	.v-card-item {
		.v-card-item__content {
			.v-card-title {
			}

			.v-card-subtitle {
				opacity: 1;
			}
		}
	}

	.v-card-text {
	}

	.v-card-actions {
	}

	.v-card-underlay {
	}
}

/* V-OVERLAY */
.v-overlay {
	.v-overlay__content {
		//cursor: pointer;
	}
}

/* V-RATING */
.v-rating {
	//border: 2px solid red;

	.v-rating__wrapper {
		//border: 2px solid green;

		.v-rating__item {
			//border: 2px solid blue;

			.v-rating__item--half {
				//border: 2px solid yellow;
			}

			.v-rating__item--full,
			.v-rating__item--half {
				//border: 2px solid yellow;

				.v-btn {
					//border: 2px solid green;

					.v-icon {
						//border: 2px solid black;

						.v-icon__svg {
							//fill: rgb(var(--v-theme-inverted));
						}
					}
				}
			}
		}
	}
}

/* V-CHIPS */
.v-chip__content {
	font-size: $font_size_mobile_body;
	line-height: $font_line_height_mobile_body;
}

/* MEDIA QUERIES */
// TABLET (SMALL - MEDIUM) - 600px >< 960px
@media only screen and (min-width: $screen_mobile_small_to_large) {
	body,
	p {
		font-size: $font_size_tablet_body;
		line-height: $font_line_height_tablet_body;
	}
	span {
		font-size: $font_size_tablet_span;
		line-height: $font_line_height_tablet_span;
	}
	h1 {
		font-size: $font_size_tablet_h1;
		line-height: $font_line_height_tablet_h1;
		padding: $font_size_tablet_h1;
	}
	h2 {
		font-size: $font_size_tablet_h2;
		line-height: $font_line_height_tablet_h2;
		padding: $font_size_tablet_h2;
	}
	h3 {
		font-size: $font_size_tablet_h3;
		line-height: $font_line_height_tablet_h3;
		padding: $font_size_tablet_h3;
	}
	h4 {
		font-size: $font_size_tablet_h4;
		line-height: $font_line_height_tablet_h4;
		padding: $font_size_tablet_h4;
	}
	h5 {
		font-size: $font_size_tablet_h5;
		line-height: $font_line_height_tablet_h5;
		padding: $font_size_tablet_h5;
	}
	h6 {
		font-size: $font_size_tablet_h6;
		line-height: $font_line_height_tablet_h6;
		padding: $font_size_tablet_h6;
	}

	.v-tooltip {
		.v-overlay__content {
			font-size: $font_size_tablet_body;
			line-height: $font_line_height_tablet_body;
		}
	}
	.v-chip__content {
		font-size: $font_size_tablet_body;
		line-height: $font_line_height_tablet_body;
	}
	.v-input {
		.v-input__control {
			.v-field {
				.v-field__field {
					.v-label {
						font-size: $font_size_tablet_body;
						line-height: $font_line_height_tablet_body;
					}
				}
			}
		}
	}
}

// LARGE TABLET TO LAPTOP - 960px >< 1280px
@media only screen and (min-width: $screen_tablet_small_to_medium) {
	body,
	p {
		font-size: $font_size_tablet_laptop_body;
		line-height: $font_line_height_tablet_laptop_body;
	}
	span {
		font-size: $font_size_tablet_laptop_span;
		line-height: $font_line_height_tablet_laptop_span;
	}
	h1 {
		font-size: $font_size_tablet_laptop_h1;
		line-height: $font_line_height_tablet_laptop_h1;
	}
	h2 {
		font-size: $font_size_tablet_laptop_h2;
		line-height: $font_line_height_tablet_laptop_h2;
	}
	h3 {
		font-size: $font_size_tablet_laptop_h3;
		line-height: $font_line_height_tablet_laptop_h3;
	}
	h4 {
		font-size: $font_size_tablet_laptop_h4;
		line-height: $font_line_height_tablet_laptop_h4;
	}
	h5 {
		font-size: $font_size_tablet_laptop_h5;
		line-height: $font_line_height_tablet_laptop_h5;
	}
	h6 {
		font-size: $font_size_tablet_laptop_h6;
		line-height: $font_line_height_tablet_laptop_h6;
	}

	.v-tooltip {
		.v-overlay__content {
			font-size: $font_size_tablet_laptop_body;
			line-height: $font_line_height_tablet_laptop_body;
		}
	}
	.v-chip__content {
		font-size: $font_size_tablet_laptop_body;
		line-height: $font_line_height_tablet_laptop_body;
	}
	.v-input {
		.v-input__control {
			.v-field {
				.v-field__field {
					.v-label {
						font-size: $font_size_tablet_laptop_body;
						line-height: $font_line_height_tablet_laptop_body;
					}
				}
			}
		}
	}
}

// LAPTOP TO DESKTOP - 1280px >< 1920px
@media only screen and (min-width: $screen_tablet_to_large_laptop) {
	body,
	p {
		font-size: $font_size_laptop_desktop_body;
		line-height: $font_line_height_laptop_desktop_body;
	}
	span {
		font-size: $font_size_laptop_desktop_span;
		line-height: $font_line_height_laptop_desktop_span;
	}
	h1 {
		font-size: $font_size_laptop_desktop_h1;
		line-height: $font_line_height_laptop_desktop_h1;
	}
	h2 {
		font-size: $font_size_laptop_desktop_h2;
		line-height: $font_line_height_laptop_desktop_h2;
	}
	h3 {
		font-size: $font_size_laptop_desktop_h3;
		line-height: $font_line_height_laptop_desktop_h3;
	}
	h4 {
		font-size: $font_size_laptop_desktop_h4;
		line-height: $font_line_height_laptop_desktop_h4;
	}
	h5 {
		font-size: $font_size_laptop_desktop_h5;
		line-height: $font_line_height_laptop_desktop_h5;
	}
	h6 {
		font-size: $font_size_laptop_desktop_h6;
		line-height: $font_line_height_laptop_desktop_h6;
	}

	.v-tooltip {
		.v-overlay__content {
			font-size: $font_size_laptop_desktop_body;
			line-height: $font_line_height_laptop_desktop_body;
		}
	}
	.v-chip__content {
		font-size: $font_size_laptop_desktop_body;
		line-height: $font_line_height_laptop_desktop_body;
	}
	.v-input {
		.v-input__control {
			.v-field {
				.v-field__field {
					.v-label {
						font-size: $font_size_laptop_desktop_body;
						line-height: $font_line_height_laptop_desktop_body;
					}
				}
			}
		}
	}
}

// 1080p TO 1440p DESKTOP - 1920px >< 2560px
@media only screen and (min-width: $screen_laptop_to_desktop) {
	body,
	p {
		font-size: $font_size_desktop_body;
		line-height: $font_line_height_desktop_body;
	}
	span {
		font-size: $font_size_desktop_span;
		line-height: $font_line_height_desktop_span;
	}
	h1 {
		font-size: $font_size_desktop_h1;
		line-height: $font_line_height_desktop_h1;
	}
	h2 {
		font-size: $font_size_desktop_h2;
		line-height: $font_line_height_desktop_h2;
	}
	h3 {
		font-size: $font_size_desktop_h3;
		line-height: $font_line_height_desktop_h3;
	}
	h4 {
		font-size: $font_size_desktop_h4;
		line-height: $font_line_height_desktop_h4;
	}
	h5 {
		font-size: $font_size_desktop_h5;
		line-height: $font_line_height_desktop_h5;
	}
	h6 {
		font-size: $font_size_desktop_h6;
		line-height: $font_line_height_desktop_h6;
	}

	.v-tooltip {
		.v-overlay__content {
			font-size: $font_size_desktop_body;
			line-height: $font_line_height_desktop_body;
		}
	}
	.v-chip__content {
		font-size: $font_size_desktop_body;
		line-height: $font_line_height_desktop_body;
	}
	.v-input {
		.v-input__control {
			.v-field {
				.v-field__field {
					.v-label {
						font-size: $font_size_desktop_body;
						line-height: $font_line_height_desktop_body;
					}
				}
			}
		}
	}
}

// 4K & ULTRA WIDE - > 2560px
@media only screen and (min-width: $screen_desktop_hd) {
	body,
	p {
		font-size: $font_size_desktop_wide_body;
		line-height: $font_line_height_desktop_wide_body;
	}
	span {
		font-size: $font_size_desktop_wide_span;
		line-height: $font_line_height_desktop_wide_span;
	}
	h1 {
		font-size: $font_size_desktop_wide_h1;
		line-height: $font_line_height_desktop_wide_h1;
	}
	h2 {
		font-size: $font_size_desktop_wide_h2;
		line-height: $font_line_height_desktop_wide_h2;
	}
	h3 {
		font-size: $font_size_desktop_wide_h3;
		line-height: $font_line_height_desktop_wide_h3;
	}
	h4 {
		font-size: $font_size_desktop_wide_h4;
		line-height: $font_line_height_desktop_wide_h4;
	}
	h5 {
		font-size: $font_size_desktop_wide_h5;
		line-height: $font_line_height_desktop_wide_h5;
	}
	h6 {
		font-size: $font_size_desktop_wide_h6;
		line-height: $font_line_height_desktop_wide_h6;
	}

	.v-tooltip {
		.v-overlay__content {
			font-size: $font_size_desktop_wide_body;
			line-height: $font_line_height_desktop_wide_body;
		}
	}
	.v-chip__content {
		font-size: $font_size_desktop_wide_body;
		line-height: $font_line_height_desktop_wide_body;
	}
	.v-input {
		.v-input__control {
			.v-field {
				.v-field__field {
					.v-label {
						font-size: $font_size_desktop_wide_body;
						line-height: $font_line_height_desktop_wide_body;
					}
				}
			}
		}
	}
}
